@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;

    --title-color: #0b0a0a;
    --text-color: #403a3a;
    --text-color-light: #707070;
    --container-color: #fafafa;
    --container-color-alt: #f0efef;
    --body-color: #fcfcfc;
}
html[theme="dark"] {
    --title-color: #f2f2f2;
    --text-color: #bfbfbf;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2b2b2b;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: var(--text-color);
    background: var(--body-color);
}
h1,
h2,
h3 {
    color: var(--title-color);
}
h1,
h2,
h3,
p,
ul {
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text-color);
}

.content {
    display: flex;
    max-width: 1000px;
    margin: 1.5rem auto;
    background: var(--container-color);
    box-shadow: 2px 2px 10px var(--container-color-alt);
    position: relative;
}
.scroll-to-top {
    display: none;
}
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        margin: 0;
    }
    .scroll-to-top {
        display: block;
        background: var(--container-color-alt);
        border-radius: 3px;
        border: none;
        padding: 3px;
        position: fixed;
        right: 12px;
        bottom: 12px;
        display: flex;
        align-items: center;
    }
}

.content__left {
    flex: 1;
    background: var(--container-color-alt);
    position: relative;
}
.content__right {
    flex: 2;
}
/*
    PROFILE
----------------*/
.theme-toggle-btn {
    border: none;
    background: none;
    position: absolute;
    right: 0.7rem;
    top: 1rem;
    cursor: pointer;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.picture {
    width: 150px;
    height: 150px;
    margin-top: 2rem;
}
.picture img {
    width: 100%;
    border-radius: 50%;
}
.name {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: 2rem;
}
.name__first {
    font-weight: 400;
}
.role {
    margin-top: 0.5rem;
}
.details {
    margin-top: 2rem;
    align-self: flex-start;
    margin-left: 2rem;
}
.details__email,
.details__phone {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
}
.icon-linkedin {
    position: relative;
    top: -2px;
}
.content-section {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.section-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
}
.job-title {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.job-duration {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .job-duration {
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
    }
}
.icon {
    margin-right: 5px;
}
